@import "../styles.scss";

.header {
  background-image: linear-gradient(to right, $primary-purple, $secondary-pink);
  color: white;

  &__items {
    width: 100%;
    display: flex;

    &-content {
      padding-right: 2rem;
    }
  }
}
