$primary-purple: rgb(116, 138, 232);
$secondary-pink: rgb(224, 37, 206);
$opacity-white-background: rgb(255, 255, 255);
$grey-background: rgb(84, 84, 84);

.text {
  &__header {
    font-weight: bold;
    font-size: 1.125em;
  }

  &__section {
    font-weight: bold;
    font-size: 1em;
    &-sub {
      font-style: italic;
      font-size: 0.875em;
    }
  }

  &__normal {
    font-size: 0.75em;
  }
}
